.container {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #fefff4;
  padding:10px;
}

body {
  color: #000000;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  background: url("WebBackGround.jpg");
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
  color: #642f2e;
  font-family: Georgia,serif;
  font-weight: normal;
  margin-top: 5px;
}

#header h1, #header h3 {
  font-size: 64px;
  font-weight: normal;
  letter-spacing: -2px;
  line-height: 80px;
}

h3 {
  font-family: Georgia,serif;
  font-weight: normal;
}

#header {
  color: #642f2e;
  font-family: Georgia,serif;
}

#header a {
  border-bottom: medium none;
  color: #642f2e;
  text-decoration: none;
}

#header .description {
  font-family: Georgia,serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin-top: -0.25em;
  padding-bottom: 5px;
}

.post .storycontent, .post .content {
  line-height: 1.5;
}