<template name="biblio">
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content">
                <div class="post">
                    <h1 id="post-422">Bibliography</h1>
                    <div class="clear"></div>
                    <div class="storycontent">
                        <h2>I. Translations and commentaries</h2>
                        <div class="Paragraph">
                            <div class="bibl">Adam, J. 1902. <em>The Republic of Plato</em>. Cambridge. 2nd ed. Ed. D. A. Rees. 1962.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Allen, R. E. 1984. <em>The Dialogues of Plato</em>. Vol. 4, <em>Parmenides with translation and analysis</em>. New Haven.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Arieti, J. A. and R. M. Barrus. 2010. <em>Plato’s Protagoras</em>. Lanham.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Bostock, D. 1986. <em>Plato’s Phaedo</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Brownson, C., and O. J. Todd. 1922. <em>Xenophon. Anabasis, Books 4–7. Symposium and Apology.</em> Vol. III, <em>Xenophon</em>. Loeb Classical Library 90. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Bury, Rev. R. G. 1926a. <em>Plato. Laws, Books 1-6</em>. Vol. X, <em>Plato</em>. Loeb Classical Library 187. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1926b. <em>Plato. Laws, Books 7-12</em>. Vol. XI, <em>Plato</em>. Loeb Classical Library 192. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1929. <em>Plato. Timaeus. Critias. Cleitophon. Menexenus. Epistles</em>. Vol. IX, <em>Plato</em>. Loeb Classical Library 234. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Chance, T. H. 1992. <em>Plato’s </em>Euthydemus<em>: Analysis of what Is and Is Not Philosophy.</em> Berkley.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Cope, E. M. 1867. <em>An Introduction to Aristotle’s Rhetoric</em>. London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1877. <em>The Rhetoric of Aristotle with a Commentary</em>. Vol. 3. Ed. J. E. Sandys. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Fowler, H. N. 1914. <em>Plato. Euthyphro. Apology. Crito. Phaedo. Phaedrus</em>. Vol. I, <em>Plato</em>. Loeb Classical Library 36. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1921. <em>Plato. Theaetetus. Sophist</em>. Vol. VII, <em>Plato</em>. Loeb Classical Library 123. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1926. <em>Plato. Cratylus. Parmenides. Greater Hippias. Lesser Hippias</em>. Vol. IV, <em>Plato</em>. Loeb Classical Library 167. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Fowler, H. N., and W. R. M. Lamb. 1925. <em>Plato. Statesmen. Philebus. Ion</em>. Vol. VIII, <em>Plato</em>. Loeb Classical Library 164. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Freese, J. H. 2006. <em>Aristotle. The “Art” of Rhetoric</em>. Cambridge, MA. Orig. pub. 1926.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Gifford, E. H. 1905. <em>The Euthydemus of Plato</em>. Oxford. Repr. 1973.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Griswold, C. L., Jr. 1986. <em>Self-Knowledge in Plato’s </em>Phaedrus. New Haven.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Grube, G. M. A. 1974. <em>Plato’s Republic.</em> Indianapolis.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Guthrie, W. K. C. 1978. <em>A History of Greek Philosophy</em>. Vol. 5. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hawtrey, R. S. W. 1981. <em>A Commentary on Plato’s </em>Euthydemus. American Philosophical Society 147. Darby.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hett, W. J. 1936. <em>Aristotle. On the Soul</em>. <em>Parva Naturalia. On Breath</em>. Vol. VIII, <em>Aristotle</em>. Loeb Classical Library 288. Cambridge, MA. Rev. ed. 1957.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Irwin, T. 1979. <em>Plato’s Gorgias</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Klein, J. 1965. <em>A Commentary on Plato’s </em>Meno. Chicago.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lamb, W. R. M. 1924. <em>Plato. Laches. Protagoras. Meno. Euthydemus</em>. Vol. II, <em>Plato</em>. Loeb Classical Library 165. Cambridge, MA. Repr. 1977.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1925. <em>Plato. Lysis. Symposium. Gorgias</em>. Vol. III, <em>Plato</em>. Loeb Classical Library 166. Cambridge, MA. Repr. 1975.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1927. <em>Plato. Charimides. Alcibiades 1 and 2. Hipparchus. The Lovers. Theages. Minos. Epinomis</em>. Vol. XII, <em>Plato</em>. Loeb Classical Library 201. Cambridge, MA. Repr. 1964.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">MacLeod, M. D. 2008. <em>Xenophon. Apology and Memorabilia I</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Marchant, E. C. 1923. <em>Xenophon. Memorabilia </em>and<em> Oeconomicus</em>. Vol. IV, <em>Xenophon. </em>Loeb Classical Library 168.<em> </em>Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Miller, P. A., and C. Platter. 2010. <em>Plato’s Apology of Socrates: A Commentary</em>. Norman.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Quincy, K. 2003. <em>Plato Unmasked: The Dialogues Made New</em>. Spokane.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rackham H. 1926. <em>Aristotle. Nicomachean Ethics</em>. Vol. XIX, <em>Aristotle</em>. Loeb Classical Library 73. Cambridge, MA. Repr. 1968.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rosen, S. 1999. <em>Plato’s </em>Sophist<em>: The Drama of Original and Image.</em> South Bend.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rowe, C. J. 1998. <em>Plato. Symposium</em>. Aris and Phillips Classical Texts. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Saunders, T. J. 1999. <em>Plato. Early Socratic Dialogues</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Shorey, P. 1930. <em>Plato. The Republic, Books 1–5</em>. Vol. V, <em>Plato</em>. Loeb Classical Library 237. Cambridge, MA. Repr. 1978.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1935. <em>Plato. The Republic, Books 6–10</em>. Vol. VI, <em>Plato</em>. Loeb Classical Library 276. Cambridge, MA. Repr. 1978.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Tsitsiridis, S. 1998. <em>Platons Menexenos: Eintleitung, Text und Kommentar</em>. Beiträge zur Altertumskunde 107. Stuttgart.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Waterfield, R., trans. 1987. <em>Plato.</em><br />
                                <em>Euthydemus</em>. In Saunders 1999: 315–376.</div>
                        </div>
                        <h2>II. Plato and Socrates</h2>
                        <div class="Paragraph">
                            <div class="bibl">Ahbel-Rappe, S., and R. Kamtekar, eds. 2006. <em>A Companion to Socrates</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Annas, J. 1996. “Plato.” In Hornblower and Spawforth 1996.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2003. <em>Plato: A Very Short Introduction.</em> Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Annas, J., and C. Rowe, eds. 2002. <em>New Perspectives on Plato, Modern and Ancient</em>. Washington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Arieti, J. A. 1991. <em>Interpreting Plato: The Dialogues as Drama.</em> Savage.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Ast, D. F. 1969. <em>Lexicon Platonicum.</em> 3 vols. New York. Orig. pub. 1835–38.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Benson, H. H., ed. 2009. <em>A Companion to Plato</em>. Hoboken.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Blondell, R. 2002. <em>The Play of Character in Plato&#8217;s Dialogues.</em> Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2003. “The Man with No Name: Socrates and the Visitor From Elea.” In Michelini 2003:247–266.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2005. “From Fleece to Fabric: Weaving Culture in Plato’s <em>Statesman</em>.” <em>Oxford Studies in Ancient Philosophy</em> 28:23–75.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Boys-Stone, G. R., and J. H. Haubold, eds. 2010. <em>Plato and Hesiod</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Brandwood, L. 1976. <em>A Word Index to Plato</em>. Leeds.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1990. <em>The Chronology of Plato’s Dialogues</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1992. “Stylometry and chronology.” In Kraut 1992:90–120.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Brickhouse, T., and N. Smith. 1994. <em>Plato’s Socrates</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl"><span style="line-height: 1.5em">Brun, J. 1962. </span><em style="line-height: 1.5em">Socrates</em><span style="line-height: 1.5em">. Trans. D. Scott. New York.</span></div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Burger, R. 1997. “Plato’s Non-Socratic Narrations of Socratic Conversation.” In Hart and Tejera 1997:121–142.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Charalabopoulos, N. G. 2012. <em>Platonic Drama and Its Ancient Reception.</em> Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Chroust, A.-H. 1957. <em>Socrates Man and Myth: The Two Socratic Apologies of Xenophon</em>. Notre Dame.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Clay, D. 1992. “Plato&#8217;s First Words.” In <em>Beginnings in Classical Literature.</em> Yale Classical Studies 29. Ed. T. Cole and F. M. Dunn, 113–29. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2000. <em>Platonic Questions: Dialogues with the Silent Philosopher</em>. University Park, PA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Danzig, G. 2003. “Apologizing for Socrates: Plato and Xenophon on Socrates’ Behavior in Court.” <em>Transactions of the American Philological Association</em> 133:281–321.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Demos, M. 1999. <em>Lyric Quotation in Plato</em>. Lanham.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Desjardins, R. 1988. “Why Dialogues? Plato&#8217;s Serious Play.” In Griswold 1988:110–125.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Doherty, L. E., ed. 2009. <em>Homer’s </em>Odyssey. Oxford Readings in Classical Studies. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Erler, M. 2007. <em>Platon</em>. Die Philosophie der Antike. Grundriss der Geschichte der Philosophie. Basel.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Ferguson, J. 1970. <em>Socrates: A Source Book</em>. London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Fine, G., ed. 2008. <em>The Oxford Handbook of Plato</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Fortunoff, D. 1993. “Plato’s Dialogues as Subversive Activity.” In Press 1993:61–76.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Frede, M. 1992. “Plato&#8217;s Arguments and the Dialogue Form.” In Klagge and Smith 1992:201–219.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Gill, C. 1973. “The Death of Socrates.” <em>Classical Quarterly</em> 23:25–28.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Gooch, P. W. 1985. “Socrates: Devious or Divine?” <em>Greece &amp; Rome</em> 2nd Series 32:32–41.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Gordon, J. 2007. “In the Image of Plato.” In Scott 2007:212–237.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Griswold, C. L., Jr., ed. 1988. <em>Platonic Writings, Platonic Readings</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2002. “Comments on Kahn.” In Annas and Rowe 2002:129–144.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Guthrie, W. K. C. 1971. <em>Socrates</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Halperin, D. W. 1992. “Plato and the Erotics of Narrativity.” In Klagge and Smith 1992:93–129.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hart, R., and V. Tejera, eds. 1997. <em>Plato’s Dialogues: The Dialogical Approach</em>. Studies in the History of Philosophy 46. Lewiston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hornblower, S. 2004. <em>Thucydides and Pindar</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hornblower, S., and A. Spawforth, eds. 1996. <em>The Oxford Classical Dictionary</em>. 3rd edition. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Irvin, T. H. 2008. “The Platonic Corps.” In Fine 2008:63–87.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kahn, C. H. 1963. “Plato’s Funeral Oration: The Motive of the Menexenus.” <em>Classical Philology</em> 58.4:220–234.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1998. <em>Plato and Socratic Dialogue: Philosophic Use of a Literary Form</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2002. “On Platonic Chronology.” In Annas and Rowe 2002:93–127.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kaufman, S. 1998. <em>Socrates: Fictions of a Philosopher. </em>Trans. C. Porter. Ithaca.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Klagge, J. C., and N. D. Smith, eds. 1992. <em>Methods of Interpreting Plato and His Dialogues</em>. Oxford Studies in Ancient Philosophy: Supplementary Vol. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Koyré, A. 1945. <em>Discovering Plato</em>. Trans. L. C. Rosenfield. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kraut, R., ed. 1992. <em>The Cambridge Companion to Plato</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lesher, J. 2007. “Later Views of the Socrates of Plato’s <em>Symposium</em>.” In Trapp 2007b:59–76.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2011. “‘Just as in battle’: The Simile of the Rout in Aristotle’s <em>Posterior Analytics</em> II 19.” <em>Ancient Philosophy</em> 31.1:121–125.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lesher, J., D. Nails, and F. C. C. Sheffield, eds. 2006. <em>Plato&#8217;s Symposium: Issues in Interpretation and Reception</em>. Hellenic Studies 22. Washington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Levin, R. 1961. <em>The Question of Socrates</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Levinson, R. B, ed. 1967. <em>A Plato Reader.</em> Boston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Matéi, J. -F. 1983. <em>L’Etranger et le simulacre: essai sur la fondation de l’ontologie platonicienne. </em>Paris<em>.</em></div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1988. “The Theater of Myth in Plato.” In Griswold 1988:79–82.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">McLean, D. R. 2007. “The Socratic Corpus: Socrates and Physiognomy.” In Trapp 2007a:65–88.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Michelini, A. N. 2003. <em>Plato as Author: The Rhetoric of Philosophy</em>. Boston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Montuori, M. 1981. <em>Socrates: Physiology of a Myth</em>. Trans. J.M.P. and M. Langdale. Amsterdam. Orig. pub as <em>Fisiologia di un mitro</em>. Florence, 1974.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Nails, D. 2002. <em>The People of Plato: A Prosopography of Plato and Other Socratics</em>. Indianapolis.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Navia, L. E. 2007. <em>Socrates: A Life Examined</em>. Amherst.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Navia, L. E., and E. L. Katz. 1988. <em>Socrates: An Annotated Bibliography</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Nehamas, A. 1996. “Socrates.” In Hornblower and Spawforth 1996:1419–1420.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1998. <em>The Art of Living: Socratic Reflections from Plato to Foucault</em>. Berkeley.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Press, G. A., ed. 1993. <em>Plato’s Dialogues: New Studies and Interpretations</em>. Lanham.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Radice, R., ed. 2003. <em>Lexicon I Plato</em>. Milan.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Richter, G. M. A. 1984. <em>The Portraits of the Greeks</em>. Rev. ed. Ed. R. R. R. Smith. Ithaca. Orig. pub. 1965.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rowe, C. 2006. “The <em>Symposium</em> as a Socratic Dialogue.” In Lesher, Nails, and Sheffield 2006:9–22.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rudebusch, G. 2009. <em>Socrates. </em>Malden.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Rutherford, R. B. 1995. <em>The Art of Plato: Ten Essays in Platonic Interpretation</em>. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Sayre, K. 1992. “A Maieutic View of Five Late Dialogues.” In Klagge and Smith 1992:221–243.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Sellars, J. 2003. <em>The Art of Living: The Stoics on the Nature and Function of Philosophy</em>. Burlington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Scott, G., ed. 2007. <em>Philosophy in Dialogue: Plato’s Many Devices</em>. Evanston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Smith, N. 2007. “Plato’s Book of Images.” In Scott 2007:3–14.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Stewart, J.A. 1905. <em>The Myths of Plato</em>. London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Stockhamm, M., ed. 1963. <em>Plato Dictionary.</em> New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Sullivan, J. 2001. “A Note on the Death of Socrates.” <em>Classical Quarterly</em> 51.2:608–610.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Tarrant, H. 1994. “Chronology and Narrative Apparatus in Plato&#8217;s Dialogues.” <em>Electronic Antiquity </em>1.8. http://scholar.lib.vt.edu/ejournals/ElAnt/V1N8/</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Taylor, A. E. 1952. <em>Socrates</em>. Orig. pub. 1933.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Thayer, H. S. 1997. “Plato&#8217;s Style: Temporal, Dramatic and Semantic Levels in the Dialogues.” In Hart and Tejera 1997:87–120.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Thesleff, H. 1993. “Looking for Clues.” In Press 1993:17–45.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Trapp, M., ed. 2007a. <em>Socrates from Antiquity to Enlightenment</em>. Burlington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———, ed. 2007b. <em>Socrates in the Nineteenth and Twentieth Centuries</em>. Burlington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Tschemplik, A. 1993. “Framing the Question of Knowledge: Beginning Plato&#8217;s Theaetetus.” In Press 1993:169–178.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Vander Waerdt, P. A., ed. 1994. <em>The Socratic Movement</em>. Ithaca.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Vlastos, G., ed. 1980. <em>The Philosophy of Socrates: A Collection of Critical Essays</em>. Notre Dame. Orig. pub. 1971.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1980. “The Paradox of Socrates.” In <em>The Philosophy of Socrates: A Collection of Critical Essays</em>, 1–21. Notre Dame.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Woodbury, L. 1973. “Socrates and the Daughter of Aristides.” <em>Phoenix</em> 27.1:7–25.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Zanker, P. 1995. <em>The Mask of Socrates: The Image of the Intellectual in Antiquity</em>. Trans. A. Shapiro. Berkeley.</div>
                        </div>
                        <h2>III. Metaphor and simile</h2>
                        <div class="Paragraph">
                            <div class="bibl">Addison, C. 1993. “From Literal to Figurative: An Introduction to the Study of Simile.” <em>College English</em> 55.4:402–419.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Baldwin, R., and R. Paris. 1983. <em>The Book of Similes</em>. London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Bethlehem, L. S. 1996. “Simile and Figurative Language.” <em>Poetics Today</em> 17.2:203–240.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Bloom, H., ed. 1986. <em>Homer</em>. Modern Critical Views. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Boys-Stones, G. R., ed. 2003. <em>Metaphor, Allegory, and the Classical Tradition</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Brogan, J. V. 1986. <em>Stevens and Simile: A Theory of Language</em>. Princeton.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Bullinger, E. W. 2008. <em>Figures of Speech Used in the Bible: Explained and Illustrated</em>. New York. Orig. pub. 1898.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Buxton, R. 2004. “Similes and Other Likenesses.” In <em>The Cambridge Companion to Homer</em>, ed. R. Fowler, 139–155. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Campbell, J. 2003. <em>Myths of Light: Eastern Metaphors of the Eternal</em>. Ed. David Kudler. Novato.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Coffey, M. 1957. “The Function of the Homeric Simile.” <em>American Journal of Philology</em> 78:113–132.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Cooper, D. E. 1986. <em>Metaphor</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Foley, H. P. 1978. “Reverse Similes and Sex Roles in the Odyssey.” <em>Arethusa</em> 11:1–2;7–26.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Fränkel, H. 1921. <em>Die Homerische Gleichnisse</em>. Göttingen.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Gordon, J. 2007. “In Plato’s Image.” In Scott 2007:212–237.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Grassi, E. 1994. <em>The Primordial Metaphor</em>. Medieval and Renaissance Texts and Studies 121. Trans. L. Pietropaolo and M. Scarci. Binghamton. Orig. pub. as <em>La Metafora inaudita</em>. Palermo, 1990.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hanson, J. 1976. <em>Similes: As Gentle as a Lamb, Spin Like a Top, &amp; Other “Like” or “As” Comparisons Between Unlike Things</em>. North Mankato.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hawkes, T. 1972. <em>Metaphor.</em> London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hiraga, M. K. 2005. <em>Metaphor and Iconicity</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Hornsby, R. 1970. <em>Patterns of Action in the </em>Aeneid<em>: An Interpretation of Vergil’s Epic Similes</em>. Iowa City.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Innes, D. 2003. “Metaphor, Simile, and Allegory as Ornaments of Style.” In Boys-Stones 2003:7–27.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Jacobs, C. 1999. <em>In the Language of Walter Benjamin</em>. Baltimore.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kirby, J. T. 1997. “Aristotle on Metaphor.” <em>The American Journal of Philology</em> 118.4:517–554.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kittay, E. F. 1987. <em>Metaphor: Its Cognitive Force and Linguistic Structure</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Kövecses, Z. 2005. <em>Metaphor in Culture</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lakoff, G., and M. Johnson. 1980. <em>Metaphors We Live By</em>. Chicago.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Leary, D. E., ed. 1990. <em>Metaphors in the History of Psychology</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lee, H. D. P. 1939. “The Aviary Simile in the Theaetetus.” <em>Classical Quarterly</em> 33:208–11.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lee, D. J. N. 1964. <em>The Similes of the </em>Iliad<em> and the </em>Odyssey<em> Compared.</em> Melbourne.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Leidl, C. G. 2003. “The Harlot’s Art: Metaphor and Literary Criticism.” In Boys-Stones 2003:32–54.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Levin, S. R. 1977. <em>The Semantics of Metaphor. </em>Baltimore<em>.</em></div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lodge, D. 1977. <em>The Modes of Modern Writing</em>. London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Louis, P. 1945. <em>Les Metaphores de Platon</em>. Paris.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lucas, D. W. 1968. <em>Aristotle. Poetics</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lucas, F. L. 1962. <em>Style</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Lloyd, G. E. R. 2003. “The Problem of Metaphor: Chinese Reflections.” In Boys-Stones 2003:101–114.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Mac Cormac, E. R. 1985. <em>A Cognitive Theory of Metaphor</em>. Boston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Marshall, D. 1986. “Similes and Delay.” In Bloom 1986:233–236.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">McCall, M. H., Jr. 1969. <em>Ancient Rhetorical Theories of Simile and Comparison</em>. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Moulton, C. 1974. “Similes in the Iliad.” <em>Hermes</em> 102:381–397.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1977. <em>Similes in the Homeric Poems</em>. Hypomnemata 49. Goettingen.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Mueller, M. 1986. “The Simile.” In Bloom 1986:217–231.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Nannini, S. 2003. <em>Analogia e polarità in similitudine: Paragoni iliadici e odissiaci a confronto</em>. Supplementi di Lexis 21. Amsterdam.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Nimis, S. 1988. “Aristotle&#8217;s Analogical Metaphor.” <em>Arethusa</em> 21.2:215–226.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Nowottny, W. 1962. <em>The Language Poets Use</em>. New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Olso, K. 1980. <em>Ariosto and the Classical Simile</em>. Harvard Studies in Romance Languages 36. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Organ, T. W. 1949. <em>An Index To Aristotle in English Translation</em>. Princeton.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Ortony, A, ed. 1993. <em>Metaphor and Thought</em>. 2nd ed. Cambridge. Orig. pub. 1979.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Parry, M. 1933. “The Traditional Metaphor in Homer.” <em>Classical Philology</em> 28.1:30–43.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Pender, E. E. 2000. <em>Images of Persons Unseen: Plato’s Metaphors for the Gods and the Soul</em>. International Plato Studies 11. Berlin.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2003. “Plato on Metaphors and Models.” In Boys-Stones 2003:55–81.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Podlecki, A.J. 1971. “Some Odyssean Similes.” <em>Greece and Rome</em> 18:81–90.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Porter, D. H. 1972. “Violent Juxtaposition in the Similes of the <em>Iliad</em>.” <em>Classical Journal</em> 68:11–21.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Ready, J. L. 2011. <em>Character, Narrative, and Simile in the</em> Iliad. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Redfield, J. M. 1986. “Landscape and Simile.” In Bloom 1986:183–186. Orig. pub. In <em>Nature and Culture in the Iliad: The Tragedy of Hector</em>. Chicago, 1975.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Reeve, C.D.C. 2007. “Goat-Stags, Philosopher-Kings, and Eudaimonism in the <em>Republic</em>.” <em>Proceedings of the Boston Area Colloquium in Ancient Philosophy </em>22:185–209.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Richards, I. A. 1936. <em>The Philosophy of Rhetoric.</em> The Mary Flexner Lectures on the Humanities at Bryn Mawr College 3. New York. Repr. 1965.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Ricoeur, P. 1977. <em>The Rule of Metaphor.</em> London.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Roberts, W. R. 1902. <em>Demetrius. On Style</em>. Cambridge.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Halliwell S. et al., trans. 1995. <em>Aristotle. The Poetics; Longinus. On the Sublime; Demetrius. On Style</em>. Vol. XXXIII, <em>Aristotle</em>. Loeb Classical Library 199. Cambridge, MA.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Scott, G. A., ed. 2007. <em>Philosophy in Dialogue: Plato’s Many Devices</em>. Evanston.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Scott, W. C. 1974. <em>The Oral Nature of the Homeric Simile</em>. Mnemosyne. Bibliotheca Classica Batava. Supplementu 28. Leiden.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2009. <em>The Artistry of the Homeric Simile</em>. Hanover.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Shorey, P. 1922. “The Logic of the Homeric Simile.” <em>Classical Philology</em> 17:240–259.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Silk, M. S. 1996. “Metaphor and Simile.” In Hornblower and Spawforth 1996:966–968.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 2003. “Metaphor and Metonymy: Aristotle, Jakobson, Ricoeur, and Others.” In Boys-Stones 2003:115–147.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Smith, N. D. 2007. “Plato’s Book of Images.” In Scott 2007:3–14.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Sommer, E., ed. 1988. <em>Similes Dictionary</em>. Detroit.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Stanford, W. B. 1936. <em>Greek Metaphor</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Thomas, O. 1969. <em>Metaphor and Related Subjects.</em> New York.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Turbayne, C. M. 1962. <em>The Myth of Metaphor</em>. New Haven.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">White, R. M. 1986. <em>The Structure of Metaphor</em>. Oxford.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Wiersbe, W. W. 2000. <em>Index of Biblical Images: Similes, Metaphors, and Symbols in Scripture.</em> Grand Rapids.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Wheelwright, P. 1954. <em>The Burning Fountain</em>: <em>A Study in the Language of Symbolism</em>. Bloomington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">———. 1962. <em>Metaphor and Reality</em>. Bloomington.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Wilkins, E. 1920. “A Classification of the Similes of Homer.” <em>Classical World</em> 13:147–150;154–159.</div>
                        </div>
                        <div class="Paragraph">
                            <div class="bibl">Wilstach, F. J. 1924. <em>A Dictionary of Similes</em>. Boston. Orig. pub. 1916.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>