<template name="chartC">
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content">
                <div class="post">
                    <h1 id="post-383">Chart C</h1>
                    <div class="clear"></div>
                    <div class="storycontent">
                        <h1 style="text-align: left"><b style="font-size: 14px;line-height: 1.5em">Distribution of Similes Within Each Dialogue</b><b style="font-size: 14px;line-height: 1.5em"> </b></h1>
                        <p style="text-align: left" align="center">Numbers Correspond to Five-Page Segments in Stephanus: H. Stephanus, Volumes I-III, Paris, 1578.</p>
                        <p style="text-align: left" align="center"> (<span style="color: #ff0000">Red numbers</span> in Brackets Correspond to The Simile Numbers in the Compendium.)</p>
                        <p><em><b>Alcibiades</b></em> <strong>1</strong> St II.103a-135e</p>
                        <p>103-107; 108-112; 113-117 [<span style="color: #ff0000">1</span>]; 118-122 [<span style="color: #ff0000">2</span>]; 123-127 [<span style="color: #ff0000">3, 4, 5</span>]; 132-135 [<span style="color: #ff0000">6</span>]</p>
                        <p><em><b>Alcibiades</b></em> <strong>2</strong> St II.138a-151c</p>
                        <p>138-142 [<span style="color: #ff0000">1</span>]; 143-147 [<span style="color: #ff0000">2</span>]; 148-151 [<span style="color: #ff0000">3, 4, 5, 6</span>]</p>
                        <p><em><b>Apology </b></em>St I.17a-42a</p>
                        <p>17-21 [<span style="color: #ff0000">1</span>]; 22-26 [<span style="color: #ff0000">2</span>] 27-31 [<span style="color: #ff0000">3, 4, 5</span>]; 32-36; 37-41 [<span style="color: #ff0000">6, 7</span>]; 42</p>
                        <p><em><b>Charmides</b></em> St II.153a-176d</p>
                        <p>153-157 [<span style="color: #ff0000">1, 2, 3</span>]; 158-162 [<span style="color: #ff0000">4</span>]; 163-167; 168-172 [<span style="color: #ff0000">5</span>]; 173-176</p>
                        <p><em><b>Cleitophon </b></em>St III.406a-410e</p>
                        <p>406-410 [<span style="color: #ff0000">1, 2, 3, 4, 5</span>]</p>
                        <p><em><b>Cratylus </b></em>St I.383a-440e</p>
                        <p>383-387; 388-392 [<span style="color: #ff0000">1, 2</span>]; 393-397 [<span style="color: #ff0000">3</span>]; 398-402; 403-407; 408-412 [<span style="color: #ff0000">4</span>]; 413-417 [<span style="color: #ff0000">5</span>]; 418-422 [<span style="color: #ff0000">6</span>]; 423-427 [<span style="color: #ff0000">7</span>]; 428-432; 433-437; 438-440 [<span style="color: #ff0000">8, 9</span>]</p>
                        <p><em><b>Critias </b></em>St III.106a-121c</p>
                        <p>106-110 [<span style="color: #ff0000">1, 2, 3</span>]; 111-115 [<span style="color: #ff0000">4</span>]; 116-120; 121</p>
                        <p><em><b>Crito</b></em> St I.43a-54e</p>
                        <p>43-47 [<span style="color: #ff0000">1</span>]; 48-52 [<span style="color: #ff0000">2</span>]; 53-54 [<span style="color: #ff0000">3</span>]</p>
                        <p><em><b>Epinomis</b></em> St II.973a-992e</p>
                        <p>973-977; 978-982; 983-987; 988-992</p>
                        <p><em><b>Euthydemus</b></em> St I.271a-307c</p>
                        <p>271-275; 276-280 [<span style="color: #ff0000">1, 2, 3, 4, 5, 6</span>]; 281-285 [<span style="color: #ff0000">7, 8</span>]; 286-290 [<span style="color: #ff0000">9</span>]; 291-295 [<span style="color: #ff0000">10, 11, 12, 13</span>]; 296-300 [<span style="color: #ff0000">14</span>]; 301-305 [<span style="color: #ff0000">15, 16</span>]; 306-307</p>
                        <p><em><b>Euthyphro</b></em>  St I.2a-16a</p>
                        <p>2-6 [<span style="color: #ff0000">1, 2</span>]; 7-11 [<span style="color: #ff0000">3</span>]; 12-16</p>
                        <p><em><b>Gorgias</b></em> St I.447a-527e</p>
                        <p>447-451; 445-456; 457-461; 462-466; 467-471; 472-476; 477-481 [<span style="color: #ff0000">1, 2, 3</span>] 482-486 [<span style="color: #ff0000">4, 5, 6, 7, 8</span>]; 487-491; 492-497 [<span style="color: #ff0000">9, 10, 11, 12, 13, 14</span>]; 498-502 [<span style="color: #ff0000">15</span>]; 503-509 [<span style="color: #ff0000">16</span>]; 510-514; 515-519; 520-524 [<span style="color: #ff0000">17</span>]; 525-527</p>
                        <p><em><b>Hipparchus</b></em> St II.225a-232c</p>
                        <p>225-229 [<span style="color: #ff0000">1</span>]; 230-232</p>
                        <p><em><b>Hippias Major</b></em> St III.281a-304e</p>
                        <p>281-285 [<span style="color: #ff0000">1, 2</span>]; 286-290; 291-295 [<span style="color: #ff0000">3</span>]; 296-300; 301-304</p>
                        <p><em><b>Hippias Minor</b></em>  St I.363a-376c</p>
                        <p>363-367 [<span style="color: #ff0000">1, 2</span>]; 368-372; 373-376</p>
                        <p><em><b>Ion</b></em> St I.530a-542b</p>
                        <p>530-534 (533-34) [<span style="color: #ff0000">1, 2, 3, 4</span>]; 535-539; 540-542 [<span style="color: #ff0000">5</span>]</p>
                        <p><em><b>Laches</b></em> St II.178a-201c</p>
                        <p>178-182; 183-187 [<span style="color: #ff0000">1</span>]; 188-192; 193-197 [<span style="color: #ff0000">2</span>]; 198-201</p>
                        <p><em><b>Laws</b></em> or <em><strong>Leges</strong></em> (<i>Nomoi</i>) St II.624a-969d</p>
                        <p><b>(Book One </b>St II.624-650b)</p>
                        <p>624-628 [<span style="color: #ff0000">1</span>]; 629-633; 634-638 [<span style="color: #ff0000">2, 3</span>]; 639-643; 644-648 [<span style="color: #ff0000">4, 5</span>]; 649-650b</p>
                        <p><b>(Book Two </b>St II.652-674c)</p>
                        <p>652-656 [<span style="color: #ff0000">1</span>]; 657-661; 662-666 [<span style="color: #ff0000">2</span>]; 667-671; 672-674c</p>
                        <p><b>(Book Three </b>St II.676-702e)</p>
                        <p>676-680 [<span style="color: #ff0000">1</span>]; 680-684; 685-689; 690-694; 695-699; 700-702e [<span style="color: #ff0000">2</span>]</p>
                        <p><b>(Book Four </b>St II.704-724b)</p>
                        <p>704-708 [<span style="color: #ff0000">1, 2, 3</span>]; 709-713; 714-718; 719-723 [<span style="color: #ff0000">4, 5</span>]; 724b</p>
                        <p><b>(Book Five </b>St II.726-747a)</p>
                        <p>726-730; 731-735 [<span style="color: #ff0000">1, 2, 3, 4, 5</span>]; 736-740 [<span style="color: #ff0000">6, 7, 8, 9, 10</span>]; 741-745; 746-747a [<span style="color: #ff0000">11</span>]</p>
                        <p><b>(Book Six </b>St II.751-785b)</p>
                        <p>751-755; 756-760; 761-765; 766-770; 771-775 [<span style="color: #ff0000">1</span>]; 776-780 [<span style="color: #ff0000">2, 3</span>]; 781-785b</p>
                        <p><b>(Book Seven </b>St II.788-824c)</p>
                        <p>788-792 [<span style="color: #ff0000">1, 2</span>]; 793-797 [<span style="color: #ff0000">3, 4, 5, 6</span>]; 798-802 [<span style="color: #ff0000">7</span>]; 803-807 [<span style="color: #ff0000">8, 9</span>]; 808-812 [<span style="color: #ff0000">10, 11, 12</span>]; 813-817 [<span style="color: #ff0000">13</span>]; 818-822 [<span style="color: #ff0000">14</span>]; 823-824c</p>
                        <p><b>(Book Eight </b>St II.828-850d)</p>
                        <p>828-832; 833-837 [<span style="color: #ff0000">1]</span>; 838-842 [<span style="color: #ff0000">2</span>]; 843-847; 848-850d</p>
                        <p><b>(Book Nine </b>St II.853-882c)</p>
                        <p>853-857 [<span style="color: #ff0000">1, 2</span>]; 858-862 [<span style="color: #ff0000">3, 4, 5, 6</span>]; 863-867; 868-872; 873-877; 878-882c</p>
                        <p><b>(Book Ten </b>St II.884-910d)</p>
                        <p>884-888; 889-893 [<span style="color: #ff0000">1</span>]; 894-898 [<span style="color: #ff0000">2, 3</span>]; 899-903 [<span style="color: #ff0000">4, 5</span>]; 904-908 [<span style="color: #ff0000">6, 7, 8, 9</span>]; 909-910d</p>
                        <p><b>(Book Eleven </b>St II.913-938c)</p>
                        <p>913-917; 918-922; 923-927; 928-932; 933-937 [<span style="color: #ff0000">1, 2, 3</span>]; 938c</p>
                        <p><b>(Book Twelve </b>St II.941-969d)</p>
                        <p>941-945; 946-950; 951-955 [<span style="color: #ff0000">1, 2</span>]; 956-960; 961-965 [<span style="color: #ff0000">3</span>]; 966-969d</p>
                        <p><em><b>Lovers </b></em>or <b><em>Amatores</em> </b>(<i>Erastai</i>) St I.132a-139a</p>
                        <p>132-136 [<span style="color: #ff0000">1</span>]; 137-139</p>
                        <p><em><b>Lysis</b></em> St II.203a-223b</p>
                        <p>203-207; 208-212; 213-217 [<span style="color: #ff0000">1, 2</span>]; 218-222 [<span style="color: #ff0000">3, 4, 5</span>]; 223 [<span style="color: #ff0000">6</span>]</p>
                        <p><em><b>Menexenus</b></em> St II.234a-249e</p>
                        <p>234-238 [<span style="color: #ff0000">1</span>]; 239-243; 244-248; 249</p>
                        <p><em><b>Menon</b></em> St II.70a-100c</p>
                        <p>70-74 [<span style="color: #ff0000">1</span>]; 75-79; 80-84 [<span style="color: #ff0000">2</span>]; 85-89 [<span style="color: #ff0000">3</span>]; 90-94; 95-99 [<span style="color: #ff0000">4</span>]; 100</p>
                        <p><em><b>Minos</b></em>  St II.313a-321d</p>
                        <p>313-317; 318-321d [<span style="color: #ff0000">1</span>]</p>
                        <p><em><b>Parmenides</b></em> St III.126a-166c</p>
                        <p>126-130 [<span style="color: #ff0000">1</span>]; 131-135 [<span style="color: #ff0000">2, 3, 4</span>]; 136-140 [<span style="color: #ff0000">5</span>]; 141-145; 146-150; 151-155; 156-160; 161-165 [<span style="color: #ff0000">6</span>]; 166c</p>
                        <p><em><b>Phaedo</b></em> St I.57a-118a</p>
                        <p>57-61; 62-66; 67-71; 72-76; 77-81 [<span style="color: #ff0000">1, 2</span>]; 82-86 [<span style="color: #ff0000">3, 4, 5, 6</span>]; 87-91 [<span style="color: #ff0000">7, 8</span>]; 92-96 [<span style="color: #ff0000">9</span>]; 97-101 [<span style="color: #ff0000">10, 11, 12, 13</span>]; 102-106; 107-111 [<span style="color: #ff0000">14, 15, 16, 17</span>]; 112-116 [<span style="color: #ff0000">18, 19, 20</span>]; 117-118a</p>
                        <p><em><b>Phaedrus</b></em>  St III.227a-279c</p>
                        <p>227-231 [<span style="color: #ff0000">1, 2, 3</span>]; 232-236 [<span style="color: #ff0000">4</span>]; 237-241 [<span style="color: #ff0000">5</span>]; 242-246 [<span style="color: #ff0000">6</span>]; 247-251 [<span style="color: #ff0000">7, 8, 9, 10, 11, 12</span>]; 252-256 [<span style="color: #ff0000">13, 14, 15, 16, 17, 18, 19, 20</span>]; 257-261 [<span style="color: #ff0000">21, 22, 23</span>]; 262-266 [<span style="color: #ff0000">24, 25, 26</span>]; 267-271 [<span style="color: #ff0000">27, 28, 29</span>]; 272-276 [<span style="color: #ff0000">30, 31</span>]; 277-279c</p>
                        <p><em><b>Philebus</b></em>  St II.11a-67b</p>
                        <p>11-15 [<span style="color: #ff0000">1</span>]; 16-20; 21-25 [<span style="color: #ff0000">2, 3</span>]; 26-30 [<span style="color: #ff0000">4</span>]; 31-35; 36-40 [<span style="color: #ff0000">5</span>]; 41-45 [<span style="color: #ff0000">6</span>]; 46-50 [<span style="color: #ff0000">7</span>]; 51-55; 56-60; 61-65 [<span style="color: #ff0000">8, 9, 10, 11, 12</span>]; 66-67b [<span style="color: #ff0000">13</span>]</p>
                        <p><em><b>Protagoras</b></em> St I.309a-362a</p>
                        <p>309-313; 314-318 [<span style="color: #ff0000">1</span>]; 319-323 [<span style="color: #ff0000">2</span>]; 324-328 [<span style="color: #ff0000">3, 4, 5</span>]; 329-333 [<span style="color: #ff0000">6, 7, 8, 9</span>]; 334-338 [<span style="color: #ff0000">10, 11, 12</span>]; 339-343 [<span style="color: #ff0000">13, 14, 15</span>]; 344-348 [<span style="color: #ff0000">16, 17</span>]; 349-353 [<span style="color: #ff0000">18, 19</span>]; 354-358 [<span style="color: #ff0000">20</span>]; 359-362a [<span style="color: #ff0000">21</span>]</p>
                        <p><em><b>Republic</b></em> (<i>Polite</i><i>ia</i>) St II.327a-621d</p>
                        <p><b>(Book One)</b></p>
                        <p>327-331 [<span style="color: #ff0000">1, 2, 3, 4</span>]; 332-336 [<span style="color: #ff0000">5, 6, 7</span>]; 337-341; 342-346 [<span style="color: #ff0000">8, 9</span>]; 347-351 [<span style="color: #ff0000">10</span>]; 352-354c [<span style="color: #ff0000">11</span>];</p>
                        <p><b>(Book Two)</b></p>
                        <p>357-361 [<span style="color: #ff0000">1, 2</span>]; 362-366; 367-371 [<span style="color: #ff0000">3</span>]; 372-376 [<span style="color: #ff0000">4, 5</span>]; 377-381 [<span style="color: #ff0000">6</span>]; 382-383c;</p>
                        <p><b>(Book Three)</b></p>
                        <p>386-390; 391-395 [<span style="color: #ff0000">1</span>]; 396-400; 401-405 [<span style="color: #ff0000">2, 3</span>]; 406-410; 411-415 [<span style="color: #ff0000">4, 5, 6, 7, 8, 9, 10, 11</span>]; 416-417b [<span style="color: #ff0000">12</span>];</p>
                        <p><b>(Book Four)</b></p>
                        <p>419-423 [<span style="color: #ff0000">1</span>]; 424-428 [<span style="color: #ff0000">2</span>]; 429-433 [<span style="color: #ff0000">3, 4a-b, 5, 6</span>]; 434-438 [<span style="color: #ff0000">7</span>]; 439-443 [<span style="color: #ff0000">8, 9, 10</span>]; 444-445e [<span style="color: #ff0000">11, 12</span>];</p>
                        <p><b>(Book Five)</b></p>
                        <p>449-453 [<span style="color: #ff0000">1</span>]; 454-458 [<span style="color: #ff0000">2, 3, 4, 5</span>]; 459-463 [<span style="color: #ff0000">6</span>]; 464-468; 469-473 [<span style="color: #ff0000">7, 8, 9</span>]; 474-478; 479-480a [<span style="color: #ff0000">10, 11</span>];</p>
                        <p><strong>(</strong><b>Book Six)</b></p>
                        <p>484-488 [<span style="color: #ff0000">1, 2, 3, 4, 5, 6</span>]; 489-493 [<span style="color: #ff0000">7, 8</span>]; 494-498 [<span style="color: #ff0000">9, 10, 11, 12, 13, 14, 15, 16</span>]; 499-503; 504-508; 509-511 [<span style="color: #ff0000">17</span>];</p>
                        <p><b>(Book Seven)</b></p>
                        <p>514-518 [<span style="color: #ff0000">1, 2, 3, 4, 5, 6</span>]; 519-523 [<span style="color: #ff0000">7, 8, 9, 10, 11</span>]; 524-528; 529-533 [<span style="color: #ff0000">12, 13</span>]; 534-538 [<span style="color: #ff0000">14, 15, 16</span>]; 539-541 [<span style="color: #ff0000">17, 18, 19</span>];</p>
                        <p><b>(Book Eight)</b></p>
                        <p>543-547 [<span style="color: #ff0000">1, 2, 3, 4, 5</span>]; 548-552 [<span style="color: #ff0000">6, 7</span>]; 553-557 [<span style="color: #ff0000">8, 9, 10, 11</span>]; 558-562 [<span style="color: #ff0000">12, 13, 14</span>]; 563-567 [<span style="color: #ff0000">15, 16, 17, 18</span>]; 568-569c;</p>
                        <p><b>(Book Nine)</b></p>
                        <p>571-575 [<span style="color: #ff0000">1</span>]; 576-580 [<span style="color: #ff0000">2, 3</span>]; 581-585; 586-590 [<span style="color: #ff0000">4, 5, 6</span>]; 591-592b;</p>
                        <p><b>(Book Ten)</b></p>
                        <p>595-599; 600-604 [<span style="color: #ff0000">1, 2, 3</span>]; 605-609 [<span style="color: #ff0000">4, 5, 6</span>]; 610-614 [<span style="color: #ff0000">7, 8</span>]; 615-619 [<span style="color: #ff0000">9, 10, 11, 12, 13</span>]; 620-621d [<span style="color: #ff0000">14, 15</span>].</p>
                        <p><em><b>Sophist</b></em>  St I.216a-268b</p>
                        <p>216-220; 221-225; 226-230 [<span style="color: #ff0000">1, 2</span>]; 231-235 [<span style="color: #ff0000">3, 4, 5</span>]; 236-240; 241-245; 246-250 [<span style="color: #ff0000">6, 7</span>]; 251-255 [<span style="color: #ff0000">8, 9, 10, 11</span>]; 256-260; 261-265; 266-268b [<span style="color: #ff0000">12, 13</span>].</p>
                        <p><em><b>Statesman</b></em> or <em><b>Politicus</b></em> St II.257a-311c</p>
                        <p>257-261 [<span style="color: #ff0000">1, 2</span>]; 262-266 [<span style="color: #ff0000">3</span>]; 267-271 [<span style="color: #ff0000">4, 5, 6</span>]; 273-277 [<span style="color: #ff0000">7, 8, 9</span>]; 278-282; 283-287 [<span style="color: #ff0000">10, 11</span>]; 288-292 [<span style="color: #ff0000">12</span>]; 293-297 [<span style="color: #ff0000">13, 14</span>]; 298-302 [<span style="color: #ff0000">15, 16</span>]; 303-307 [<span style="color: #ff0000">17, 18, 19</span>]; 308-312 [<span style="color: #ff0000">20, 21</span>].</p>
                        <p><em><b>Symposium</b></em>  (<i>Synousia</i>) St III.172a-223d</p>
                        <p>172-176 [<span style="color: #ff0000">1, 2</span>]; 177-181; 182-186; 187-191 [<span style="color: #ff0000">3, 4, 5, 6, 7, 8, 9</span>]; 192-196 [<span style="color: #ff0000">10, 11</span>]; 197-201; 202-206; 207-211 [<span style="color: #ff0000">12, 13</span>]; 212-216 [<span style="color: #ff0000">14, 15, 16</span>].</p>
                        <p><em><b>Theaetetus</b></em>  St I.142a-210d</p>
                        <p>142-146 [<span style="color: #ff0000">1, 2</span>]; 147-151 [<span style="color: #ff0000">3a-b</span>]; 152-156; 157-161 [<span style="color: #ff0000">4, 5</span>]; 162-166 [<span style="color: #ff0000">6, 7</span>]; 167-171 [<span style="color: #ff0000">8, 9, 10</span>]; 172-176 [<span style="color: #ff0000">11, 12, 13, 14</span>]; 177-181; 182-186 [<span style="color: #ff0000">15</span>]; 187-191 [<span style="color: #ff0000">16</span>]; 192-196 [<span style="color: #ff0000">17, 18, 19, 20</span>]; 197-201 [<span style="color: #ff0000">21, 22</span>]; 202-206; 207-210d [<span style="color: #ff0000">23</span>].</p>
                        <p><em><b>Theages</b></em>  St I.121a-131a</p>
                        <p>121-125; 126-130; 131a</p>
                        <p><em><b>Timaeus</b></em> St III.17a-92c</p>
                        <p>17-21 [<span style="color: #ff0000">1</span>]; 22-26 [<span style="color: #ff0000">2, 3, 4</span>]; 27-31; 32-36; 37-41 [<span style="color: #ff0000">5, 6</span>]; 42-46 [<span style="color: #ff0000">7</span>]; 47-51 [<span style="color: #ff0000">8</span>]; 52-56; 57-61; 62-66; 67-71 [<span style="color: #ff0000">9, 10, 11, 12a-b, 13, 14, 15</span>]; 72-76 [<span style="color: #ff0000">16, 17, 18, 19, 20</span>]; 77-81 [<span style="color: #ff0000">21, 22, 23, 24, 25, 26, 27, 28, 29</span>]; 82-86 [<span style="color: #ff0000">30, 31, 32</span>]; 87-91 [<span style="color: #ff0000">33, 34, 35, 36</span>].</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>