<template name="preface">
        <div>
            <h4>Preface</h4>
            <p>In Plato’s Dialogues there are many vivid comparisons. The soul is compared to a sieve, or a tomb, or a
                shooting star. The Greeks are like ants or frogs living around a marsh. Socrates calls himself a
                philosophical mid-wife and a gadfly that pesters Athenians. These similes have become familiar images in
                our literary and philosophical tradition. They also reveal to us an aspect of Platonic writing that is
                humorous, imaginative, and subtle. They provide an insight into Plato’s efforts to explain philosophic
                topics in an appealing manner to his audience. Similes are also an important but by no means obvious
                source of our impressions of Socrates, who is the speaker of most of the famous comparisons found in
                Plato.
            </p>
            <p>Although there are studies of similes in Homer and other poets, no such work exists for Plato—or indeed
                for any ancient prose writer.[<a href="#ref1">1</a>] In order to fill this gap for Plato at least, the following compendium
                lists and analyzes over five hundred similes taken from the Platonic corpus of thirty-five Dialogues.
                From this survey emerges an interesting perspective of Plato’s portrait of Socrates: the ways Socrates
                describes himself and others as well as the opinions of various speakers about Socrates. Because some of
                the examples presented here may seem to be metaphors according to the traditional definition going back
                to Aristotle, the Introduction will discuss the definition of simile, the distinction between this
                figure and metaphor, and a new proposal to clarify the difference. As an aid to non-specialists all
                passages are cited in English (with significant Greek words added and transliterated in parentheses).
                Greek texts may be found on the Perseus website
                (<a target="_blank" href="http://www.perseus.tufts.edu/hopper">www.perseus.tufts.edu/hopper</a>).
            </p>
            <p><span id="ref1">[1]</span> See D. J. N. Lee, The Similes of the Iliad and the Odyssey Compared (Melbourne University University
                Press 1964); Carroll Moulton, Similes in the Homeric Poems, Hypomnemata 49 (Goettingen 1977); and
                William C. Scott, The Artistry of the Homeric Simile (Dartmouth College press 2009).
            </p>

            <hr/>
        </div>
</template>