<template name="toc">
    <div>
        <h3>Table of Contents</h3>
        <div class="text-center">
            <div>To Alexandra magnis cum gratiis</div>
            <div>**</div>
            <div><h4><em>Plato’s Similes: A Compendium of 500 Similes in 35 Dialogues</em></h4></div>
            <div>*</div>
        </div>
        <div class="text-left">
            <p>I would like to express my appreciation to Gregory Nagy for his encouragement, Mary Ebbott for her guidance and
                especially Noel Spencer for his editorial assistance. The anonymous reader’s suggestions were very useful.
                I am also most grateful to the helpful staffs at the libraries of the George Washington University
                (Washington, D. C.), the University of Arizona (Tucson), the University of North Carolina (Chapel Hill) and
                the University of Virginia (Charlottesville), where I spent many enjoyable hours of research.</p>
            <p>John Ziolkowski<br/>
            Arlington, VA<br/>
            September 2014<br/>
            </p>
        </div>
        <div class="text-center">*
            <h4>Table of Contents</h4>
        </div>
        <pre style="font-family:helvetica">
            Preface
            Introduction
                A. What Is a Simile?
                    1-Aristotle
                    2-Modern Scholars
                B. A New Proposal
                    3-Analysis and Solution
                    4-Some Implications of This New Definition of Simile
                C. Further Discussion
                    5-Examples of Introductory Words (Protheses) in English and Greek
                    6-Classification of Similes (By Prothesis)
                    7-Words for Simile in Greek
                    8-Non-Similes (Criteria for Selection)
            A Compendium of Plato’s Similes (in English Translation)
            Database (Chart A): Summary of Similes by Tenor, Prothesis and Vehicle
            Charts B-F:
                Chart B: Number of Similes Spoken by Each Speaker
                Chart C: Distribution of Similes Within Each Dialogue
                Chart D: Dialogues Listed by Length and Number of Similes Chronological Arrangement
                Chart E: Plato’s Similes by Category and Prothesis
                Chart F: Totals of Similes in Each Category of Chart E
            Four Appendices:
                I. Tenors in the Platonic Similes
                    A-General Observations
                        1-Abstract and concrete tenors
                        2-Personal names:  Participants in Dialogues
                        3-Similes to be examined (B-G below)
                    B-Socrates
                        1-Speaking about himself
                        2-As part of a group
                        3-Described by others
                        4-Speaking to or about others
                    C-The Soul
                    D-Logos/argument/discussion
                    E-Laws and the State (Laws)
                    F-Similes in the Republic on Justice
                    G-Similes About the Gods
                II. Vehicles in the Platonic Similes
                    A-General Observations:
                        1-Abstract tenors + concrete vehicles
                        2-Personal names + mythical figures
                        3-Many professions
                        4-The variety of objects (“things”) as vehicles
                        5-Comparison with Homer
                    B-Types of Vehicles:
                        1-One word vehicles
                        2-One word + adjective
                        3-One word + clause
                        4-Double (1 tenor + 2 similes)
                        5-Proportional (two tenors and two vehicles)
                        6-Mechanical (‘inanimate’ vehicle for ‘animate’ tenor)
                        7-Personified (‘animate’ vehicle for ‘inanimate’ tenor)
                        8-Negative
                    C-Literary and Mythological References (1-41)
                    D-Contemporary Allusions (1-20)
                    E-Humorous and / or Eye-Catching Similes (1-16)
                    F-Children
                    G-Painting
                    H-Music
                    I-Animals (twenty-seven species from bees to wolves)
                    J-Animals (alphabetical listing)
                III. Other Modes of Comparison
                        1-Allegories
                        2-Analogies
                    Professions Cited by Socrates As Analogies (in nineteen Dialogues)
                        3-Paradoxes
                        4-Proverbs and Aphorisms
                        5-Puns
                        6-Myths and Historical Parallels
                        7-Metaphors
                IV. Similes in Various Greek Authors
                        1-Homer
                        2-Hesiod
                        3-Thucydides
                        4-Xenophon
                        5-Funeral Orations (Plato, Gorgias, Lysias, Demosthenes, Hypereides)
                        6-Plato’s Letters
            Conclusion
                I. Summary and Further Observations
                    A. Distinguishing between similes, comparisons and metaphors
                    B. Metaphors as vehicles of a simile in poetic language
                    C. Other figures of speech analogous to similes
                    D. Importance of examining the Greek in similes
                    E. Variety of similetic constructions in Timaeus
                    F.  Multiplicity of vivid similes in Phaedrus
                    G. Stylistic tendencies in the placement of similes
                    H. Observations based on Charts D and F
                    I.  Plato’s philosophy as substance + imagery, style, similes
                    J. Collection of 500 similes: some final observations on numbers
                II. Socrates in Similes
                III. Why Similes?
                    (a) Clarification by visualization (abstract made concrete)
                    (b) Verbal clarification (to illustrate verbs)
                    (c) Clarification by differentiation (NOT that, but this)
                    (d) Literary embellishment
                    (e) Humorous exaggeration
                IV. Conclusion
            Bibliography
                I. Translations and Commentaries
                II. Plato and Socrates
                III. Metaphor and Simile
        </pre>
    </div>
</template>